html,body {
    padding: 0;
    margin: 0;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
}

.slo-deleted {
	color: red;
	text-decoration: line-through;
}
.slo-commit,
.slo-new {
    width: 100%;
}
.slo-right {
    margin-left: 0;
}
.slo-entiteit-changes {
    overflow-y: auto;
}
.slo-title:empty:before {
    content: "(Geen titel)";
}

.slo-entiteit-changes a {
    color: inherit;
    padding: inherit;
}
.slo-entiteit-change .slo-type {
    margin-left: 5px;
    max-width: 170px;
}

.slo-entity-select {
    display: inline-flex;
    max-width: 200px;
    padding: 0;
    padding-right: 30px;
    margin: 0;
    height: 28px;
    margin-top: -2px;
}

.slo-id:empty:before {
    content: "(Nieuw UUID)";
}

.slo-warning:not(:empty) + .slo-warning {
    display: none;
}
.slo-label {
    display: inline-block;
}
.slo-form-help {
    font-size: 0.8em;
    line-height: 1.5em;
}
label.slo-form-checkbox,
label.slo-form-radio {
    padding-left: 1.5em;
}
.slo-form-checkbox input[type="checkbox"],
.slo-form-radio input[type="radio"] {
    margin-left: -1.5em;
    position: absolute;
}
textarea[data-simply-activate="autosize"] {
    height: var(--slo-line-height);
    resize: none;
}
.slo-profile {
    display: grid;
    grid-template-areas: "avatar name" 
                         "avatar button";
}
.slo-avatar {
    grid-area: avatar;        
    height: 40px;
    margin: 10px;
}
.slo-username {
    grid-area: name;
    line-height: 38px;
    height: 25px;
    display: block;
    white-space: nowrap;
}
.slo-logoff {
    grid-area: button;
    display: none;
    line-height: 20px;
}
body.slo-logged-on .slo-logoff {
    display: block;
}
.slo-hidden {
    display: none;
}
.slo-entity {
    height: 75vh;
    overflow-x: hidden;
    overflow-y: auto;
}

/* @widget tag */
.slo-tag {
    vertical-align: middle;
}
.slo-tag a.slo-id {
    text-decoration: none;
    color: var(--font-color);
}
.slo-tag input {
    display: inline-block;
    width: auto;
    padding: 0;
    height: auto;
}

.slo-button-naked {
    background: transparent;
    margin: 0;
}
.slo-remove-button {
    position: absolute;
    right: 2px;
    display: none;
    background-color: var(--brand);
    border-radius: 50%;
    padding: 4px;
    color: var(--brand-contrast);
    line-height: 1em !important;
    height: 2em;
    border: 3px solid white;
    width: 2em;
    margin-top: 2px;
    font-weight: bold;
    transition: all .2s ease;
}
.slo-remove-button:hover {
    color: var(--brand-contrast);
}
.slo-treeview-title:focus .slo-remove-button,
.slo-treeview-title:hover .slo-remove-button {
    display: block;
}
.slo-treeview-title.slo-removed,
.slo-removed {
    text-decoration: line-through;
}
.slo-removed .slo-remove-button {
    transform: rotate(45deg);
    background-color: blue;
}
.slo-add-button {
    background-color: var(--support);
    color: black;
    border-radius: 50%;
    padding: 4px;
}
.slo-main-page header {
    overflow: hidden;
}
.slo-parent-ids a ~ a:before {
    content: '';
    display: block;
}
ul.slo-nav-crumbs-block li {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* @component context treeview */
.slo-treeview .vsb-main button {
    margin-left: 10px;
    color: #333;
    background: white !important;
    height: calc(var(--line-height) * 1.5);
    box-sizing: border-box;
    border: 1px solid var(--input-border) !important;
    line-height: inherit;
    font-size: inherit;
    padding: 0.5em;
}
.slo-export-tree {
	position: absolute;
}
.slo-treeview .vsb-main {
    width: 50% !important;
    flex-shrink: 0;
}        
.slo-treeview .vsb-main .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 95%;
    display: inline-block;
}
.slo-treeview .vsb-menu {
    position: absolute;
    top: auto !important;
    width: 100%;
    left: 10px !important;
    border-radius: 0;
}
        
.slo-treeview {
    width: 50vw;
    height: 75vh;
    overflow-x: hidden;
    overflow-y: auto;
    float: left;
}
.slo-treeview-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-width: 100%;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}
.slo-treeview-title:focus,
.slo-treeview-title:hover {
    background-color: #EEE;
}
.slo-treeview-title .slo-title {
    line-height: 2em;
}
.slo-treeview-title.slo-selected .slo-title {
    text-decoration: underline;
}
.slo-treeview-children {
    padding-left: 1em;
}
.slo-treeview-filters {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    padding: 0 1em;
    background: white;
    z-index: 100;
}
.slo-treeview-tree {
    padding: 1em;
}
.slo-treeview .slo-tag {
    white-space: nowrap;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: rtl;
}
label {
	font-weight: bold;
}